.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.104000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.932129;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-1.009629px;}
.fc2{color:rgb(34,34,34);}
.fc1{color:rgb(50,50,50);}
.fc0{color:rgb(97,97,97);}
.fs0{font-size:41.490000px;}
.fs1{font-size:42.540001px;}
.fs2{font-size:42.750000px;}
.y0{bottom:0.000000px;}
.y2a{bottom:47.999976px;}
.y29{bottom:62.249976px;}
.yb{bottom:63.646216px;}
.y28{bottom:76.499976px;}
.ya{bottom:77.896216px;}
.y27{bottom:90.749976px;}
.y9{bottom:92.146216px;}
.y8{bottom:117.646216px;}
.y7{bottom:131.896216px;}
.y1a{bottom:152.896216px;}
.y19{bottom:167.146216px;}
.y18{bottom:181.396216px;}
.y17{bottom:195.646216px;}
.y6{bottom:204.646216px;}
.y16{bottom:209.896216px;}
.y5{bottom:218.896216px;}
.y15{bottom:224.146216px;}
.y4{bottom:233.146216px;}
.y14{bottom:238.396216px;}
.y3{bottom:247.396216px;}
.y13{bottom:252.646216px;}
.y12{bottom:266.896216px;}
.y2{bottom:272.896216px;}
.y11{bottom:281.146216px;}
.y1{bottom:287.146216px;}
.y10{bottom:295.396216px;}
.yf{bottom:309.646216px;}
.ye{bottom:323.896216px;}
.y2f{bottom:341.146216px;}
.y2e{bottom:355.396216px;}
.y2d{bottom:380.896216px;}
.y24{bottom:386.896216px;}
.y2c{bottom:395.146216px;}
.y23{bottom:401.146216px;}
.y22{bottom:415.396216px;}
.y26{bottom:472.499976px;}
.y21{bottom:485.896196px;}
.y25{bottom:486.749976px;}
.y20{bottom:500.146196px;}
.y1f{bottom:514.396196px;}
.y1e{bottom:528.646196px;}
.yd{bottom:530.143596px;}
.y1d{bottom:542.896196px;}
.yc{bottom:544.393596px;}
.y1c{bottom:557.146196px;}
.y1b{bottom:571.396196px;}
.y2b{bottom:651.749976px;}
.h5{height:30.064043px;}
.h2{height:33.192000px;}
.h3{height:34.032001px;}
.h4{height:34.200000px;}
.h0{height:791.999976px;}
.h1{height:792.000000px;}
.w0{width:611.999982px;}
.w1{width:612.000000px;}
.x0{left:0.000000px;}
.x1{left:60.749982px;}
.x2{left:74.988263px;}
.x6{left:262.148419px;}
.x3{left:317.249982px;}
.x4{left:318.749982px;}
.x5{left:326.238263px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-1.346172pt;}
.fs0{font-size:55.320000pt;}
.fs1{font-size:56.720001pt;}
.fs2{font-size:57.000000pt;}
.y0{bottom:0.000000pt;}
.y2a{bottom:63.999969pt;}
.y29{bottom:82.999969pt;}
.yb{bottom:84.861622pt;}
.y28{bottom:101.999969pt;}
.ya{bottom:103.861622pt;}
.y27{bottom:120.999969pt;}
.y9{bottom:122.861622pt;}
.y8{bottom:156.861622pt;}
.y7{bottom:175.861622pt;}
.y1a{bottom:203.861622pt;}
.y19{bottom:222.861622pt;}
.y18{bottom:241.861622pt;}
.y17{bottom:260.861622pt;}
.y6{bottom:272.861622pt;}
.y16{bottom:279.861622pt;}
.y5{bottom:291.861622pt;}
.y15{bottom:298.861622pt;}
.y4{bottom:310.861622pt;}
.y14{bottom:317.861622pt;}
.y3{bottom:329.861622pt;}
.y13{bottom:336.861622pt;}
.y12{bottom:355.861622pt;}
.y2{bottom:363.861622pt;}
.y11{bottom:374.861622pt;}
.y1{bottom:382.861622pt;}
.y10{bottom:393.861622pt;}
.yf{bottom:412.861622pt;}
.ye{bottom:431.861622pt;}
.y2f{bottom:454.861622pt;}
.y2e{bottom:473.861622pt;}
.y2d{bottom:507.861622pt;}
.y24{bottom:515.861622pt;}
.y2c{bottom:526.861622pt;}
.y23{bottom:534.861622pt;}
.y22{bottom:553.861622pt;}
.y26{bottom:629.999969pt;}
.y21{bottom:647.861595pt;}
.y25{bottom:648.999969pt;}
.y20{bottom:666.861595pt;}
.y1f{bottom:685.861595pt;}
.y1e{bottom:704.861595pt;}
.yd{bottom:706.858129pt;}
.y1d{bottom:723.861595pt;}
.yc{bottom:725.858129pt;}
.y1c{bottom:742.861595pt;}
.y1b{bottom:761.861595pt;}
.y2b{bottom:868.999969pt;}
.h5{height:40.085390pt;}
.h2{height:44.256000pt;}
.h3{height:45.376001pt;}
.h4{height:45.600000pt;}
.h0{height:1055.999969pt;}
.h1{height:1056.000000pt;}
.w0{width:815.999976pt;}
.w1{width:816.000000pt;}
.x0{left:0.000000pt;}
.x1{left:80.999976pt;}
.x2{left:99.984351pt;}
.x6{left:349.531226pt;}
.x3{left:422.999976pt;}
.x4{left:424.999976pt;}
.x5{left:434.984351pt;}
}
